.alert-slide {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bolder;
  font-size: large;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  animation: slideDownFade 3s ease-in-out forwards;
  z-index: 1000;
}
@keyframes slideDownFade {
  0% {
    top: -100px;
    opacity: 0;
  }
  10% {
    top: 20px;
    opacity: 1;
  }
  90% {
    top: 20px;
    opacity: 1;
  }
  95% {
    top: 20px;
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}
@media (max-width : '480px') {
  .alert-slide{
    font-size: small;
    font-weight: 100;
  }
}